
{{^leaf}}
<li class="li-folder">
	<a href="" hx-get="/open/{{encoded}}" hx-target="closest li" class="folder level-{{level}}"><span class="text"><span class="folder-hide">{{>caret}}</span> {{>folder}} {{name}}</span></a>
</li>
{{/leaf}}
{{#leaf}}
<li class="li-file">
	<a href="" hx-get="/file/{{encoded}}" hx-swap="outerHTML" hx-target="find .popup" class="file level-{{level}}"><span class="text">{{>file}} {{name}}<span class="popup"></span></span></a>
</li>
{{/leaf}}